@font-face {
    font-family: 'Raleway-light';
    src: url(../fonts/Raleway/static/Raleway-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-medium';
    src: url(../fonts/Raleway/static/Raleway-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-bold';
    src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-light';
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-medium';
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-bold';
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway-bold';
}

body,
p,
a,
button,
span,
mark {
    font-family: 'OpenSans-medium';
}
