extends layout/main
block content
    body
        main
            .wrapper
                h1.title Hello, world!
                p.subtitle Webpack is kinda awesome. Using with PUG is even better!
                img(src="../images/mountain.png" alt="mountain")
                button(type="button") Click if you agree!
